.array-container{
    /* position:absolute;
    left: 100px; */
    display: block;
    margin: auto;
}

.header{
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    background-color:#007acc;
    padding:1rem;
}

.message{
    margin-bottom: 5px;
    
}

.message span{
    margin-bottom: 5px;
    display: block;
}

.buttons{
    margin: 5px;
}

.array-bar{
    margin: 0px 1px;
    background-color:#007acc;
    width: 4px;
    display: inline-block;

}